<%- include('../partials/header') %>
<section class="auth">
  <form method="post" class="panel">
    <h1>Connexion</h1>
    <% if(error){ %><p class="err"><%= error %></p><% } %>
    <input name="email" type="email" placeholder="Adresse email" required>
    <input name="password" type="password" placeholder="Mot de passe" required>
    <button class="btn">Se connecter</button>
  </form>
</section>
<%- include('../partials/footer') %>
